{% extends 'layout.html' %}
{% block content %}
  <div class="timeline-header">
    <img src="{{ url_for('static', filename='img/user.jpg') }}" class="user-picture">
    <div class="question-balloon"></div>
    <form action="{{ url_for('timeline') }}" method="post">
      <textarea name="question" class="question" placeholder="Pergunte qualquer coisa!"></textarea>
      <p><input type="submit" name="submit" value="Perguntar" class="btn btn-default btn-sm"></p>
    </form>
    <div class="question-mark"></div>
  </div>
  <div class="timeline">
    <div class="question-list">
      {% for question in user.questions %}
        <div class="question">
          <div class="question-content">
            {{ question.question }}
          </div>
          <div class="label label-danger">
            <a href="{{ url_for('delete_question', question_id=question.id) }}">
              x
            </a>
          </div>
        </div>
        <div class="answers">
          {% for answer in question.answers %}
            <p>{{ answer.answer }}</p>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="follow-list"></div>
  </div>

{% endblock %}