<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% if request.endpoint == 'user_timeline' %}
    <title>{{ user_profile.username }}</title>
  {% else %}
    <title>{{ current_user.username }}</title>
  {% endif %}
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/timeline.css') }}" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" width="14px" height="14px" alt="Esfinge" />
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('timeline') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" width="28px" height="28px" alt="Esfinge"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li {% if request.path == url_for('timeline') %} class="active" {% endif %}><a href="{{ url_for('timeline') }}">Linha do Tempo</a></li>
            <li {% if request.path == url_for('profile_page', profile_id=current_user.id) %} class="active" {% endif %}><a href="{{ url_for('profile_page', profile_id=current_user.id) }}">Sua Página</a></li>
            <!--<li><a href="#">[Buscar]</a></li>-->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="user">
                <!-- TODO: change to user's pic -->
                <img src="{{ url_for('static', filename='img/user.jpg') }}" class="user-picture"> {{ current_user.username }} (<a href="{{ url_for('logout') }}">Sair</a>)
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/esfinge.js') }}"></script>
</body>
</html>