<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if request.endpoint == 'register' %}
        <title>Registrar</title>
    {% elif request.endpoint == 'login' %}
        <title>Entrar</title>
    {% else %}
        <title>Esfinge</title>
    {% endif %}
    <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" width="14px" height="14px" alt="Esfinge" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="{{ url_for('timeline') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" width="128px" height="128px"></a>
        <div class="wrap">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/esfinge.js') }}"></script>
</body>
</html>
