{% extends 'layout.html' %}
{% block content %}
    <div class="timeline-header">
        <img src="{{ url_for('static', filename='img/user.jpg') }}" class="user-picture">
        <div class="question-balloon"></div>
        <form action="{{ url_for('add_question') }}" method="post">
            <textarea name="question" class="question" placeholder="Pergunte qualquer coisa!" required></textarea>
            <p><input type="submit" name="submit" value="Perguntar" class="btn btn-default btn-sm"></p>
        </form>
        <div class="question-mark"></div>
    </div>
    <div class="timeline">
        <div class="question-list">
            {% for question in questions %}
                <div class="question">
                    <div class="question-content">
                        <p><a href="{{ url_for('profile_page', profile_id=question.user.id) }}">{{ question.user.username }}</a>: {{ question.question }}</p>
                        <form action="{{ url_for('add_answer', question_id=question.id) }}" method="post">
                            <textarea name="answer" id="" cols="50" rows="2" required></textarea>
                            <input type="submit" value="Responder">
                        </form>
                    </div>
                </div>
                <div class="answers">
                    {% for answer in question.answers %}
                        <p>
                            <a href="{{ url_for('profile_page', profile_id=answer.user.id) }}">{{ answer.user.username }}</a>: {{ answer.answer }}
                            {% if answer.user_id == current_user.id %}
                                <div class="label label-danger">
                                    <a href="{{ url_for('delete_answer', answer_id=answer.id) }}">
                                        x
                                    </a>
                                </div>
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
